body {
  justify-items: center;
}

p {
  width: 560px;
  background-color: rgb(243, 243, 215);
  border: 1px red solid;
  font-size: 18px;
}

h1 {
  width: 560px;
}

p > span {
  border: 1px blue solid;
}
