* {
  color: rgba(233, 231, 203, 0.806);
  font-size: 20px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-weight: 900;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 30px;
  min-height: 100vh;
  background: url("img/bg.jpg") center/cover no-repeat fixed;
  position: relative;
  background-color: rgb(66, 66, 67);
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

h1 {
  color: #f5763c;
  font-size: 2em;
  font-weight: 600;
}

h1.header {
  font-size: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(233, 231, 203);
  transition: color 0.5s ease;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.column {
  width: 400px;
  padding: 30px;
  padding-top: 0px;
  border: 1px solid rgb(131, 130, 130);
  text-wrap-mode: wrap;
}
.row {
  justify-content: space-between;
  width: 100%;
  display: flex;
}
