body {
  margin: 0;
}

header {
  height: 105px;
  padding: 0 50px;
  padding-bottom: 8px;
  background-color: aquamarine;

  display: flex;
  align-items: end;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

header > nav {
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  padding-right: 6px;
}

header a {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255);
  text-decoration: none;
  text-wrap: nowrap;

  display: flex;
  align-items: center;
}

header a,
input {
  opacity: 0.7;
}

header a:hover,
header input:hover,
.img-logo {
  opacity: 1;
  transition: opacity 0.5s ease;
}

header a,
input {
  z-index: 1;
}

header input {
  border-radius: 5px;
  width: 230px;
  height: 32px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 5px;
  border: none;
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.img-logo {
  height: 45px;
}

.img-play {
  width: 24px;
  height: 34px;
}

main {
  width: 400vh;
}
