@import url(bg-gradient.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 500px;
  max-width: 700px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

header h1,
header h2,
header h3 {
  margin: 0;
}

header h3 {
  font-style: italic;
  font-weight: 300;
}

.animated-gradient {
  /* width: 100%; */
  margin: 10px 0;
  padding: 10px;

  color: #333;
}

main {
  padding: 15px 0;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;

  width: 100%;
}

.line,
.bottom-line {
  width: 100%;
  height: 2px;
  background-color: rgba(57, 90, 152, 0.535);
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

#loader {
  font-size: 18px;
  color: #555;
}

.hide {
  display: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gmap_canvas {
  width: 100%;
  height: 100%;
}

#weather-container {
  height: 100%;
}

.weather-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.weather-code-icon {
  font-size: 70px;
  text-shadow: 2px 2px 8px #333333b3;
}

.weather-code-extra {
  margin-bottom: 8px;
}

.arrow-pointer {
  font-size: 45px !important;
  transform: rotate(0deg);
}

.weather-card {
  padding: 20px;

  background-color: #f9f9f9;
  text-wrap: nowrap;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  gap: 10px;
}

.temperature,
.wind-speed,
.wind-direction {
  font-weight: bold;
}
.temperature i,
.wind-speed i,
.wind-direction i {
  font-weight: normal;
}

.error {
  color: red;
  margin-top: 20px;
}

.animated-gradient,
.weather-code-container,
.weather-card,
.gmap_canvas {
  border-radius: 10px;
  border: 1px solid #ddd;
  /* height: 100%; */
}

.animated-gradient {
  border: none;
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;

    margin: 5px 10px;
  }

  main {
    padding: 15px 0;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .weather-code-container,
  .weather-card,
  .gmap_canvas {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
    width: 100%;
    text-wrap: wrap;
    font-size: 25px;
  }

  .weather-card {
    flex-direction: column;
  }
}
