* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  margin: 15px;
  height: 198px;
  font-size: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
}

footer {
  margin: 10px;
}

.line,
.bottom-line {
  width: 100%;
  height: 2px;
  background-color: rgb(92, 145, 244);
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

#loader {
  font-size: 18px;
  color: #555;
}

.hide {
  display: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.map-container {
  height: 100%;
}

.gmap_canvas {
  /* width: 600px;  */
  height: 100%;
  border-radius: 8px;
}

.city-name {
  margin-top: 0px;
}

#weather-container {
  height: 100%;
}

.weather-code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.weather-code-icon {
  font-size: 70px;
}

.weather-code-extra {
  margin-bottom: 8px;
}

.arrow-pointer {
  font-size: 45px;
  transform: rotate(0deg);
}

.weather-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  background-color: #f9f9f9;
  text-wrap: nowrap;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
  margin-top: 20px;
}
