* {
  color: rgba(233, 231, 203, 0.728);
  font-size: 18px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-weight: 900; */

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
  background: url("img/bg.jpg") center/cover no-repeat fixed;
  /* position: relative; */
  background-color: rgb(49, 49, 49);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #00000038;
  /* min-width: 1186px; */
  /* width: 1186px; */
  display: flex;
  align-self: center;
  /* border: 1px solid rgb(131, 130, 130); */
}
footer > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer > div > div {
  width: 342px;
  height: 40px;
  /* display: flex; */
  color: #f5773caf;
  padding: 0 20px;

  align-content: center;
  justify-content: space-between;
  /* width: 100%; */
  /* width: 382px; */
}

h1 {
  color: #f5763c;
  font-size: 33px;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

header > h1 {
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(233, 231, 203);
  transition: color 0.5s ease;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.column {
  width: 320px;
  padding: 30px;
  padding-top: 0px;
  border: 1px solid rgba(131, 130, 130, 0.825);
  text-wrap-mode: wrap;
  background-color: rgba(0, 0, 0, 0.253);
}

.row {
  justify-content: space-between;
  width: 100%;
  display: flex;
  border-bottom: 2px rgba(255, 255, 255, 0.074) solid;
  padding-top: 6px;
}

.date {
  margin-left: 10px;
  /* align-content: end; */
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
