* {
  color: rgba(233, 231, 203, 0.728);
  font-size: 20px;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* font-weight: 900; */

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  margin: 0;
  background: url("img/bg.jpg") center/cover no-repeat fixed;
  position: relative;
  background-color: rgb(49, 49, 49);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

footer {
  align-self: flex-end;
  height: 50px;
  background-color: #f5773c;
}

h1 {
  color: #f5763c;
  font-size: 2em;
  font-weight: 600;
}

h1.header {
  font-size: 50px;
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(233, 231, 203);
  transition: color 0.5s ease;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.column {
  width: 400px;
  padding: 30px;
  padding-top: 0px;
  border: 1px solid rgb(131, 130, 130);
  text-wrap-mode: wrap;
  background-color: rgba(0, 0, 0, 0.253);
}

.row {
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin-left: 10px;
}

.date {
  margin-left: 10px;
}
